ADVGame/ADVGame/ADVGame.sln
ADVGame/ADVGame/Library
ADVGame/ADVGame/Temp
ADVGame/ADVGame/Logs
ADVGame/ADVGame/.vs/ADVGame/FileContentIndex/152be04a-ce12-483e-af01-01260ebf221b.vsidx
ADVGame/ADVGame/.vs/ADVGame/FileContentIndex/92f566e4-db20-4f5f-b981-13274e309e26.vsidx
ADVGame/ADVGame/.vs/ADVGame/FileContentIndex/e0d1adc3-880a-475e-a3bb-c85ab7c07c37.vsidx
ADVGame/ADVGame/.vs/ADVGame/v17/DocumentLayout.json
ADVGame/ADVGame/Assets/StreamingAssets
ADVGame/ADVGame/.vs/ADVGame/FileContentIndex/a30cfe1c-6be1-4f56-b6c8-b7b4bd40f309.vsidx
ADVGame/ADVGame/.vs/ADVGame/FileContentIndex/7be87d6a-9125-4d3a-9129-e6cb2cb95754.vsidx
